:root {
  --primary-color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

.rem-card:hover {
  box-shadow: 0 6px 16px -8px #00000014, 0 9px 28px #0000000d,
    0 12px 48px 16px #00000008;
}

#rem-content {
  cursor: url(/svg/mouse_active.svg), auto;

  .ant-btn:hover {
    color: rgba(0, 0, 0, 0.88);
    border-color: transparent;
  }

  a {
    color: rgba(0, 0, 0, 0.88);
  }
}

#rem-content * {
  transition: none;
  /* display: inline-block; */
}

.rem-container {
  /* margin: 0 auto !important; */
}

/* #rem-content *:hover {
  cursor: url(/svg/mouse_active.svg), auto;
}
 */
:where(.rem-item):not(.rem-selected):hover {
  outline: solid 3px var(--primary-color);
}

.rem-action-bar {
  width: 48px;
  height: 100%;
}

.ant-tree-title {
  text-transform: capitalize;
}
