@import "antd/dist/reset.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


.text-base {
    line-height: 1;
}

.anticon {
    vertical-align: baseline;
}

.selecto-selection {
    top: 0 !important;
    left: 0 !important;
}

.rem-device-tab {
    height: 50px;
}

.rem-device-tab .anticon {
    /*margin: 0;*/
    /*width: 32px;*/
}

.rem-device-tab .ant-tabs-nav::before {
    border: 0 none !important;
}

.ant-tree-list-holder .ant-tree-list-holder-inner .ant-tree-switcher {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rem-input {
    box-sizing: border-box;
    width: 100%;
    background-color: transparent !important;
}

.rem-input:focus {
    outline: 0 none;
}

.rem-text-field div:hover fieldset {
    border-width: 1px !important;
    border-color: #4096ff !important;
}

.rem-text-field .Mui-focused fieldset {
    border-width: 1px !important;
    border-color: #4096ff;
}

.rem-text-field label {
    font-size: 12px;
    height: 30px;
    top: 0;
    margin: 0;
    padding-bottom: -314px;
}